@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&family=Roboto+Slab:wght@100..900&display=swap');

header {
    text-align: center;
    font-family: "Roboto Slab", serif;
    background-color: rgb(255, 234, 209);
    color: rgb(114, 135, 172);
    padding: 20px 20px;
}

body {
    color: rgb(114, 135, 172);
    font-family: "Roboto Slab", serif;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav a {
    border-radius: 8px;
    color: rgb(129, 148, 167);
    padding: 1em;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(229, 224, 234);
    
}

.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(114, 135, 172);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
