@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&family=Roboto+Slab:wght@100..900&display=swap');

header {
    text-align: center;
    font-family: "Roboto Slab", serif;
    background-color: white;
    color: rgb(129, 148, 167);
    padding: 20px 20px;
}

h3 {
    color: rgb(147, 125, 166);
}

body {
    color: rgb(129, 148, 167);
    font-family: "Roboto Slab", serif;
    justify-content: space-between;
    padding: 5em;
    
}

nav ul {
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
}

nav a {
    border-radius: 8px;
    color: rgb(129, 148, 167);
    padding: 1em;
    text-decoration: none;
}

section {
    text-align: center;
}

nav a:hover {
    background-color: rgb(229, 224, 234);
}
